<div class="event-nav">
    <ul>
        <a href="/event_about">
            <li>About</li>
        </a>
        <a href="/event_theme">
            <li class="active">Theme</li>
        </a>
        <a href="/event_guest">
            <li>Guest</li>
        </a>
        <a href="/event_FAQs">
            <li>FAQs</li>
        </a>
    </ul>
</div>