<div class="event-nav">
    <ul>
        <a href="/event_about/<%= eventData._id %>">
            <li>About</li>
        </a>
        <a href="/event_theme/<%= eventData._id %>">
            <li class="active">Theme</li>
        </a>
        <a href="/event_guest/<%= eventData._id %>">
            <li>Guest</li>
        </a>
        <a href="/event_FAQs/<%= eventData._id %>">
            <li>FAQs</li>
        </a>
    </ul>
</div>