 <!-- Footer Start -->
 <div class="footer" style="background-image: url('assets/images/sio-footer.svg'); background-size: cover; background-position: center; overflow: hidden; position: relative;">
   <div class="container">
     <div class="footer-sections">
       <div class="footer-malabar-img">
         <img src="assets/images/decon-lg-footer.svg" alt="">
       </div>
       <div class="links">
         <div class="main-contact">
           <ul>
             <a href="/">
               <li>Home</li>
             </a>
             <!-- <div>
               <a href="/about">
                 <li>About Us</li>
               </a>
             </div> -->
             <div>
               <a href="/contact">
                 <li>Contact Us</li>
               </a>
             </div>
           </ul>
         </div>
         <div class="sections">
           <ul>
             <div>
               <a href="/Privacy">
                 <li>Privacy Policy</li>
               </a>
             </div>
             <div>
               <a href="/Refund">
                 <li>Refund Policy</li>
               </a>
             </div>
             <div>
               <a href="/Terms-Conditions">
                 <li>Terms & Conditions</li>
               </a>
             </div>
           </ul>
         </div>
       </div>
       <div class="address">
         <i class="fas fa-map-marker-alt"></i> Vidyarthi Bhavanam, <br> Uk Sankunni Rd, Kozhikode, <br> Kerala, india -
         673004 <br>
         098957 75227
       </div>
     </div>
     <hr class="footer-hr">
     <div class="last-section-footer">
       <div class="privacy">
         <p style="color: #000;">@ 2023 De Conquista All Right Reserved |Powered by <span style="font-weight: 700;"><a href="https://datahex.in/" target="_blank" id="datahex_link">DataHex</a></span></p>
       </div>
       <div class="icons">
         <span><i class="fab fa-facebook-f"></i></span>
         <span><i class="fab fa-twitter"></i></span>
         <span><i class="fab fa-linkedin-in"></i></span>
         <span><a href="https://instagram.com/deconquista.sio?igshid=MWZjMTM2ODFkZg==" target="_blank"><i class="fab fa-instagram"></i></a></span>
       </div>
     </div>
   </div>
 </div>
 <!-- Footer End -->
 <!-- back to top start -->
 <div class="progress-wrap">
   <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
     <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
   </svg>
 </div>
 <!-- back to top end -->