 <!-- Header Start -->
 <div class="meeta-header-section meeta-header-2 meeta-header-3" style="background-image: url(/assets/images/Rectangle\ 975.png);background-repeat: no-repeat;background-size: cover;width:100%;">
   <!-- Header Middle Start -->
   <div class="header-middle header-sticky">
     <div class="container">
       <div class="header-wrap">
         <!-- Header Logo Start -->
         <div class="header-logo header-logo-3">
           <a class="logo-black" href="/"><img src="assets/images/decon-logo.svg" alt="Logo"></a>
           <a class="logo-white" href="/"><img src="assets/images/decon-logo.svg" alt="Logo"></a>
         </div>
         <!-- Header Logo End -->
         <!-- Header Navigation Start -->
         <div class="header-navigation d-none d-lg-block">
           <ul class="main-menu">
             <li class="active-menu"><a href="/">Home</a>
             </li>
             <!-- <li><a href="">About</a>
               <ul class="sub-menu">
                 <li><a href="/about">About Malabar</a></li>
                 <li><a href="/about-Mlf">About MLF</a></li>
                 <li><a href="/about-book-Plus">About Book Plus</a></li>
               </ul>
             </li> -->
             <!-- <li> <a href="../assets/pdf/mlf.pdf" target="_blank" attributes-list> Programme </a>
             </li>
             <li><a href="/speaker">Speakers</a>
             </li>
             <li><a href="/gallery">Gallery</a></li> -->
             <li><a href="/contact">Contact Us</a></li>
           </ul>
         </div>
         <!-- Header Navigation End -->
         <!-- Header Meta Start -->
         <!-- <div class="header-meta">
           <div class="header-btn d-none d-md-block">
             <a href="/register" class="btn-2">Register</a>
           </div> -->
         <!-- Header Toggle Start -->
         <div class="header-toggle d-lg-none">
           <button data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample">
             <span></span>
             <span></span>
             <span></span>
           </button>
         </div>
         <!-- Header Toggle End -->
       </div>
       <!-- Header Meta End -->
     </div>
   </div>
 </div>
 <!-- Header Middle End -->
 </div>
 <!-- Header End -->
 <!-- Offcanvas Start-->
 <div class="offcanvas offcanvas-start" id="offcanvasExample">
   <div class="offcanvas-header">
     <!-- Offcanvas Logo Start -->
     <div class="offcanvas-logo">
       <a href="/"><img src="assets/images/decon-logo.svg" alt=""></a>
     </div>
     <!-- Offcanvas Logo End -->
     <button type="button" class="close-btn" data-bs-dismiss="offcanvas"><i class="flaticon-close"></i></button>
   </div>
   <!-- Offcanvas Body Start -->
   <div class="offcanvas-body">
     <div class="offcanvas-menu offcanvas-menu-2">
       <ul class="main-menu">
         <li class="active-menu"><a href="/">Home</a>
         </li>
         <!-- <li><a href="/about">About</a></li>
         <li> <a href="../assets/pdf/mlf.pdf" target="_blank" attributes-list> Programme </a>
         </li>
         <li><a href="/speaker">Speaker</a>
         <li><a href="/gallery">Gallery</a>
         </li> -->
         <li><a href="/contact">Contact Us</a></li>
         <li>
           <a href="/register" class="mobile-register">Register</a>
         </li>
       </ul>
     </div>
   </div>
   <!-- Offcanvas Body End -->
 </div>
 <!-- Offcanvas End -->