<!-- ========== Start header ========== -->
<%-include("layouts/header.ejs")%>
<!-- ========== End header ========== -->
    <div class="updates-section" id="bg-color-purple">
      <div class="header-programe" style="margin-top: 100px;">
        <div class="container">
          <div class="updates-title">
            <h1>Calender</h1>
          </div>
          <div class="updates-menu">
            <ul>
              <li>September</li>
              <li>October</li>
              <li>November</li>
              <li>December</li>
            </ul>
          </div>

          <div class="calender-cards-items">
        
              <div class="calender-cards">
                 <h3>September</h3>
                 <p>05</p>
            </div>
           
            <div class="calender-desc">
              <p>One day Workshop on</p>
              <h2>
                Islam as a 
                Discursive Tradition</h2>
            </div>
            <div class="calender-chev ">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 19 19" fill="none">
                <path d="M5.18182 8.96382C5.18182 8.76797 5.32735 8.60612 5.51617 8.58051L5.56866 8.57698L12.3687 8.57729L9.91207 6.13066C9.76068 5.97991 9.76015 5.73498 9.9109 5.58359C10.0479 5.44596 10.2628 5.43301 10.4145 5.54505L10.458 5.58241L13.5785 8.68949C13.5984 8.70936 13.6157 8.73086 13.6305 8.75357C13.6346 8.76041 13.6388 8.7674 13.6428 8.77453C13.6465 8.78065 13.6499 8.787 13.653 8.79342C13.6574 8.80276 13.6616 8.81241 13.6655 8.82226C13.6687 8.82985 13.6713 8.83723 13.6737 8.84467C13.6765 8.8539 13.6793 8.86374 13.6817 8.87372C13.6835 8.88069 13.6849 8.8874 13.6861 8.89414C13.6878 8.90416 13.6893 8.91453 13.6903 8.92503C13.6912 8.93303 13.6918 8.94096 13.6921 8.9489C13.6921 8.95371 13.6922 8.95875 13.6922 8.96382L13.692 8.9788C13.6917 8.98639 13.6912 8.99398 13.6905 9.00155L13.6922 8.96382C13.6922 8.98823 13.69 9.01211 13.6857 9.03527C13.6847 9.0408 13.6835 9.04648 13.6821 9.05213C13.6794 9.06377 13.6762 9.07499 13.6726 9.08598C13.6708 9.09144 13.6687 9.09728 13.6664 9.10307C13.6619 9.11471 13.657 9.12581 13.6516 9.13662C13.6491 9.1417 13.6463 9.14702 13.6433 9.15229C13.6385 9.16088 13.6335 9.16904 13.6282 9.177C13.6245 9.18263 13.6204 9.1885 13.6161 9.19427L13.6128 9.19873C13.6023 9.21234 13.591 9.22525 13.5789 9.23735L13.5785 9.23771L10.458 12.3453C10.3066 12.4961 10.0617 12.4956 9.91092 12.3442C9.77387 12.2065 9.76183 11.9916 9.87451 11.8404L9.91205 11.7971L12.3677 9.35096L5.56866 9.35065C5.35502 9.35065 5.18182 9.17746 5.18182 8.96382Z" fill="white"/>
                <circle cx="9.5" cy="9.5" r="9" stroke="white"/>
              </svg>
            </div>

          </div>
          <div class="calender-cards-items">
        
            <div class="calender-cards">
               <h3>September</h3>
               <p>05</p>
          </div>
         
          <div class="calender-desc">
            <p>One day Workshop on</p>
            <h2>
              Islam as a 
              Discursive Tradition</h2>
          </div>
          <div class="calender-chev">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 19 19" fill="none">
              <path d="M5.18182 8.96382C5.18182 8.76797 5.32735 8.60612 5.51617 8.58051L5.56866 8.57698L12.3687 8.57729L9.91207 6.13066C9.76068 5.97991 9.76015 5.73498 9.9109 5.58359C10.0479 5.44596 10.2628 5.43301 10.4145 5.54505L10.458 5.58241L13.5785 8.68949C13.5984 8.70936 13.6157 8.73086 13.6305 8.75357C13.6346 8.76041 13.6388 8.7674 13.6428 8.77453C13.6465 8.78065 13.6499 8.787 13.653 8.79342C13.6574 8.80276 13.6616 8.81241 13.6655 8.82226C13.6687 8.82985 13.6713 8.83723 13.6737 8.84467C13.6765 8.8539 13.6793 8.86374 13.6817 8.87372C13.6835 8.88069 13.6849 8.8874 13.6861 8.89414C13.6878 8.90416 13.6893 8.91453 13.6903 8.92503C13.6912 8.93303 13.6918 8.94096 13.6921 8.9489C13.6921 8.95371 13.6922 8.95875 13.6922 8.96382L13.692 8.9788C13.6917 8.98639 13.6912 8.99398 13.6905 9.00155L13.6922 8.96382C13.6922 8.98823 13.69 9.01211 13.6857 9.03527C13.6847 9.0408 13.6835 9.04648 13.6821 9.05213C13.6794 9.06377 13.6762 9.07499 13.6726 9.08598C13.6708 9.09144 13.6687 9.09728 13.6664 9.10307C13.6619 9.11471 13.657 9.12581 13.6516 9.13662C13.6491 9.1417 13.6463 9.14702 13.6433 9.15229C13.6385 9.16088 13.6335 9.16904 13.6282 9.177C13.6245 9.18263 13.6204 9.1885 13.6161 9.19427L13.6128 9.19873C13.6023 9.21234 13.591 9.22525 13.5789 9.23735L13.5785 9.23771L10.458 12.3453C10.3066 12.4961 10.0617 12.4956 9.91092 12.3442C9.77387 12.2065 9.76183 11.9916 9.87451 11.8404L9.91205 11.7971L12.3677 9.35096L5.56866 9.35065C5.35502 9.35065 5.18182 9.17746 5.18182 8.96382Z" fill="white"/>
              <circle cx="9.5" cy="9.5" r="9" stroke="white"/>
            </svg>
          </div>

        </div>
        <div class="calender-cards-items">
        
          <div class="calender-cards">
             <h3>September</h3>
             <p>05</p>
        </div>
       
        <div class="calender-desc">
          <p>One day Workshop on</p>
          <h2>
            Islam as a 
            Discursive Tradition</h2>
        </div>
        <div class="calender-chev " >
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 19 19" fill="none" >
            <path d="M5.18182 8.96382C5.18182 8.76797 5.32735 8.60612 5.51617 8.58051L5.56866 8.57698L12.3687 8.57729L9.91207 6.13066C9.76068 5.97991 9.76015 5.73498 9.9109 5.58359C10.0479 5.44596 10.2628 5.43301 10.4145 5.54505L10.458 5.58241L13.5785 8.68949C13.5984 8.70936 13.6157 8.73086 13.6305 8.75357C13.6346 8.76041 13.6388 8.7674 13.6428 8.77453C13.6465 8.78065 13.6499 8.787 13.653 8.79342C13.6574 8.80276 13.6616 8.81241 13.6655 8.82226C13.6687 8.82985 13.6713 8.83723 13.6737 8.84467C13.6765 8.8539 13.6793 8.86374 13.6817 8.87372C13.6835 8.88069 13.6849 8.8874 13.6861 8.89414C13.6878 8.90416 13.6893 8.91453 13.6903 8.92503C13.6912 8.93303 13.6918 8.94096 13.6921 8.9489C13.6921 8.95371 13.6922 8.95875 13.6922 8.96382L13.692 8.9788C13.6917 8.98639 13.6912 8.99398 13.6905 9.00155L13.6922 8.96382C13.6922 8.98823 13.69 9.01211 13.6857 9.03527C13.6847 9.0408 13.6835 9.04648 13.6821 9.05213C13.6794 9.06377 13.6762 9.07499 13.6726 9.08598C13.6708 9.09144 13.6687 9.09728 13.6664 9.10307C13.6619 9.11471 13.657 9.12581 13.6516 9.13662C13.6491 9.1417 13.6463 9.14702 13.6433 9.15229C13.6385 9.16088 13.6335 9.16904 13.6282 9.177C13.6245 9.18263 13.6204 9.1885 13.6161 9.19427L13.6128 9.19873C13.6023 9.21234 13.591 9.22525 13.5789 9.23735L13.5785 9.23771L10.458 12.3453C10.3066 12.4961 10.0617 12.4956 9.91092 12.3442C9.77387 12.2065 9.76183 11.9916 9.87451 11.8404L9.91205 11.7971L12.3677 9.35096L5.56866 9.35065C5.35502 9.35065 5.18182 9.17746 5.18182 8.96382Z" fill="white"/>
            <circle cx="9.5" cy="9.5" r="9" stroke="white"/>
          </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- ========== Start footer ========== -->
<%-include("layouts/footer.ejs")%>
<!-- ========== End footer ========== -->
