<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>De Conquista</title>
  <meta name="robots" content="noindex, follow" />
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="assets/images/decon-logo.svg">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com/">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;400;500;600;700;800&amp;family=Open+Sans:wght@300;400;500;600;700;800&amp;display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Archivo:wght@300;400;500;600;700&amp;display=swap"
    rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet" />
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>

  <!-- CSS
	============================================ -->

  <!-- Icon Font CSS -->
  <link rel="stylesheet" href="assets/css/all.min.css">
  <link rel="stylesheet" href="assets/css/flaticon.css">

  <!-- Plugins CSS -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
  <link rel="stylesheet" href="assets/css/magnific-popup.css">
  <link rel="stylesheet" href="assets/css/aos.css">
  <link rel="stylesheet" href="assets/css/nice-select.css">

  <!-- Main Style CSS -->
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">

  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>   
  <script src="//cdn.jsdelivr.net/gh/freeps2/a7rarpress@main/swiper-bundle.min.js"></script>

  <!-- carousel Style CSS -->
  <link rel="stylesheet" href="assets/css/css/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
  <link rel="stylesheet" href="assets/css/css/style.css">
</head>

<body>
  <div class="main-wrapper">
  <!-- Header Start -->
<%-include("layouts/header.ejs")%>
  <!-- Header End -->
      <!-- Page Banner Start -->
      <div id="bg-color-purple">
        <div class="deconquista-page">
            <div class="container">
                <div class="title-para" >
                    <h1 class="about-sio-title" id="deconquista-header">DeConquista</h1>
                    </div>
                    <div class="deconquista-img">
                     <img src="../assets/images/image 15.jpg" alt="DeConquista">
                    </div>
                    <div class="deconquista-desc">
                        <p>This seminar examines how the War on terror project impacted the narratives about Islam and Muslims and how the interaction between the two subsequently extended the ir influence onto the practice(s) of Islam's the ological interpretations and dialogues. As a malicious politico-military propaganda intia ted by the US at the turn of the millennium, the .</p>
                    </div>
                    <div class="conquista-btn">
                        <button class="btn event-primary" type="submit">Know More <i class="fa fa-arrow-right"></i></button>
                    </div>
    
                    <div class="title-para">
                        <h1 class="about-sio-title" style="text-align: left;">Leaders’ Notes</h1>
                        </div>
    
                        <div class="deconquista-testimonial">
                            <div class="container">
                                <div class="work-shop-section">
                                  <div class="c-testimonials">
                                    <ul class="c-testimonials__items swiper-wrapper">
                                      <!-- CARD 1 -->
                                      <li class="c-testimonials__item c-card-testimonial swiper-slide">
                                        <div class="c-card-testimonial__profile">
                                          <img src="/assets/images/Rectangle 983.png" alt="" class="c-card-testimonial__image">
                                        </div>
                        
                                        <div class="c-card-testimonial__description">
                                          <span class="c-card-testimonial__deconquista">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis optio sapiente dicta laboriosam! Earum assumenda et non numquam provident suscipit maxime, consequuntur aspernatur obcaecati porro sapiente. Cumque a vitae impedit.
                                          </span>
                                          <div class="c-card-testimonial__authorname">
                                            Rana Ayyub
                                            <p>Director of CIGA &Public Affairs 
                                            </p>
                                          </div>
                                        
                                      </li>
                        
                                      <!-- CARD 2 -->
                             <!-- CARD 1 -->
                             <li class="c-testimonials__item c-card-testimonial swiper-slide">
                                <div class="c-card-testimonial__profile">
                                  <img src="/assets/images/Rectangle 983.png" alt="" class="c-card-testimonial__image">
                                </div>
                
                                <div class="c-card-testimonial__description">
                                  <span class="c-card-testimonial__deconquista">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis optio sapiente dicta laboriosam! Earum assumenda et non numquam provident suscipit maxime, consequuntur aspernatur obcaecati porro sapiente. Cumque a vitae impedit.
                                  </span>
                                  <div class="c-card-testimonial__authorname">
                                    Rana Ayyub
                                    <p>Director of CIGA &Public Affairs 
                                    </p>
                                  </div>
                                
                              </li>
                                    </ul>
                        
                                  
                                    <div class="c-testimonials__pagination"></div>
                                  </div>
                                </div>
                              </div>
                        </div>
    
                        <div class="title-para">
                            <h1 class="about-sio-title" style="text-align: left;">Speakers</h1>
                            </div>
                           <div class="deconquista-slider">
                            <div class="slide-container swiper">
                                <div class="slide-content">
                                  <div class="card-wrapper swiper-wrapper">
                                    <div class="card swiper-slide">
                                      <div class="image-content">
                                        <span class="overlay"></span>
                      
                                        <div class="card-image">
                                          <img
                                            src="../assets/images/Rectangle 983.png"
                                            alt=""
                                            class="card-img"
                                          />
                                        </div>
                                      </div>
                      
                                      <div class="card-content">
                                        <h2 class="name">Sami Al Arian
 </h2>
                                        <p class="description">
Director of CIGA &Public Affairs 
Professorat Istanbul Zaim University.
                                        </p>
                      
                                        <!-- <button class="button">View More</button> -->
                                      </div>
                                    </div>
                                    <div class="card swiper-slide">
                                      <div class="image-content">
                                        <span class="overlay"></span>
                      
                                        <div class="card-image">
                                          <img
                                            src="../assets/images/Rectangle 983.png"
                                            alt=""
                                            class="card-img"
                                          />
                                        </div>
                                      </div>
                      
                                      <div class="card-content">
                                        <h2 class="name">Sami Al Arian
 </h2>
                                        <p class="description">
Director of CIGA &Public Affairs 
Professorat Istanbul Zaim University.
                                        </p>
                                      </div>
                                    </div>
                                    <div class="card swiper-slide">
                                      <div class="image-content">
                                        <span class="overlay"></span>
                      
                                        <div class="card-image">
                                          <img
                                            src="../assets/images/Rectangle 983.png"
                                            alt=""
                                            class="card-img"
                                          />
                                        </div>
                                      </div>
                      
                                      <div class="card-content">
                                        <h2 class="name">Sami Al Arian
 </h2>
                                        <p class="description">
Director of CIGA &Public Affairs 
Professorat Istanbul Zaim University.
                                        </p>
                                      </div>
                                    </div>
                                    <div class="card swiper-slide">
                                      <div class="image-content">
                                        <span class="overlay"></span>
                      
                                        <div class="card-image">
                                          <img
                                            src="../assets/images/Rectangle 983.png"
                                            alt=""
                                            class="card-img"
                                          />
                                        </div>
                                      </div>
                      
                                      <div class="card-content">
                                        <h2 class="name">Sami Al Arian
 </h2>
                                        <p class="description">
Director of CIGA &Public Affairs 
Professorat Istanbul Zaim University.
                                        </p>
                                      </div>
                                    </div>
                                    <div class="card swiper-slide">
                                      <div class="image-content">
                                        <span class="overlay"></span>
                      
                                        <div class="card-image">
                                          <img
                                            src="../assets/images/Rectangle 983.png"
                                            alt=""
                                            class="card-img"
                                          />
                                        </div>
                                      </div>
                      
                                      <div class="card-content">
                                        <h2 class="name">Sami Al Arian
 </h2>
                                        <p class="description">
Director of CIGA &Public Affairs 
Professorat Istanbul Zaim University.
                                        </p>
                                      </div>
                                    </div>
                                    <div class="card swiper-slide">
                                      <div class="image-content">
                                        <span class="overlay"></span>
                      
                                        <div class="card-image">
                                          <img
                                            src="../assets/images/Rectangle 983.png"
                                            alt=""
                                            class="card-img"
                                          />
                                        </div>
                                      </div>
                      
                                      <div class="card-content">
                                        <h2 class="name">Sami Al Arian
 </h2>
                                        <p class="description">
Director of CIGA &Public Affairs 
Professorat Istanbul Zaim University.
                                        </p>
                                      </div>
                                    </div>
                                    <div class="card swiper-slide">
                                      <div class="image-content">
                                        <span class="overlay"></span>
                      
                                        <div class="card-image">
                                          <img
                                            src="../assets/images/Rectangle 983.png"
                                            alt=""
                                            class="card-img"
                                          />
                                        </div>
                                      </div>
                      
                                      <div class="card-content">
                                        <h2 class="name">Sami Al Arian
 </h2>
                                        <p class="description">
Director of CIGA &Public Affairs 
Professorat Istanbul Zaim University.
                                        </p>
                                      </div>
                                    </div>
                                    <div class="card swiper-slide">
                                      <div class="image-content">
                                        <span class="overlay"></span>
                      
                                        <div class="card-image">
                                          <img
                                            src="../assets/images/Rectangle 983.png"
                                            alt=""
                                            class="card-img"
                                          />
                                        </div>
                                      </div>
                      
                                      <div class="card-content">
                                        <h2 class="name">Sami Al Arian
 </h2>
                                        <p class="description">
Director of CIGA &Public Affairs 
Professorat Istanbul Zaim University.
                                        </p>
                                      </div>
                                    </div>
                                    <div class="card swiper-slide">
                                      <div class="image-content">
                                        <span class="overlay"></span>
                      
                                        <div class="card-image">
                                          <img
                                            src="../assets/images/Rectangle 983.png"
                                            alt=""
                                            class="card-img"
                                          />
                                        </div>
                                      </div>
                      
                                      <div class="card-content">
                                        <h2 class="name">Sami Al Arian </h2>
                                        <p class="description">
Director of CIGA &Public Affairs 
Professorat Istanbul Zaim University.
                                        </p>
                                      </div>
                                    </div>
                                  </div>
                                </div>                              
                              </div>
                            </div>
                          </section>
                           </div>
            </div>
            <div class="container conquista-btn">
                <div>
                    <button class="btn  btn-deconquista " type="submit">Brounche <i class="fa fa-clipboard p-1"></i></button>
                </div>
                <div>
                    <button class="btn btn-deconquista" type="submit">FaQ <i class="fa fa-question-circle p-1"></i></button>
                </div>
            </div>

            

                     <!-- Contact Form Start -->
        <div class="contact-form-section section-padding">
          <div class="container">
            <!-- Contact Wrap Start -->
            <div class="contact-wrap">
              <div class="row justify-content-center">
                <div class="col-lg-10">
                  <div class="container">
                    <div class="title-para">
                        <h1 class="about-sio-title" style="text-align: left;">Get in touch</h1>
                        </div>
                  <!-- Contact Form Wrap Start -->
                  <div class="contact-form-wrap">
                    <form action="#">
                      <div class="row">
                        <div class="col-md-6">
                          <!-- Single Form Start -->
                          <div class="single-form">
                            <input class="form-control" type="text" placeholder="Your Name">
                          </div>
                          <!-- Single Form End -->
                        </div>
                        <div class="col-md-6">
                          <!-- Single Form Start -->
                          <div class="single-form">
                            <input class="form-control" type="email" placeholder="Your Email">
                          </div>
                          <!-- Single Form End -->
                        </div>
                        <div class="col-md-6">
                          <!-- Single Form Start -->
                          <div class="single-form">
                            <input class="form-control" type="text" placeholder="Your Number">
                          </div>
                          <!-- Single Form End -->
                        </div>
                        <div class="col-md-6">
                          <!-- Single Form Start -->
                          <div class="single-form">
                            <input class="form-control" type="text" placeholder="Subject">
                          </div>
                          <!-- Single Form End -->
                        </div>
                        <div class="col-md-12">
                          <!-- Single Form Start -->
                          <div class="single-form">
                            <textarea class="form-control" placeholder="Write A Message"></textarea>
                          </div>
                          <!-- Single Form End -->
                        </div>
                        <div class="col-md-12">
                          <!--  Single Form Start -->
                          <div class="form-btn text-center">
                            <button class="btn event-primary" type="submit">Submit Now</button>
                          </div>
                          <!--  Single Form End -->
                        </div>
                      </div>
                    </form>
                  </div>
                  <!-- Contact Form Wrap End -->
                </div>
              </div>
            </div>
            <!-- Contact Wrap End -->
          </div>
        </div>
        <!-- Contact Form End -->
            </div>
        </div>
      </div>
    
      <!-- ========== Start footer ========== -->
      <%-include("layouts/footer.ejs")%>
      <!-- ========== End footer ========== -->
</body>
</html>