<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>De Conquista</title>
  <meta name="robots" content="noindex, follow" />
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="assets/images/decon-logo.svg">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com/">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;400;500;600;700;800&amp;family=Open+Sans:wght@300;400;500;600;700;800&amp;display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Archivo:wght@300;400;500;600;700&amp;display=swap"
    rel="stylesheet">

  <link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet" />

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>

  <!-- CSS
	============================================ -->

  <!-- Icon Font CSS -->
  <link rel="stylesheet" href="assets/css/all.min.css">
  <link rel="stylesheet" href="assets/css/flaticon.css">

  <!-- Plugins CSS -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
  <link rel="stylesheet" href="assets/css/magnific-popup.css">
  <link rel="stylesheet" href="assets/css/aos.css">
  <link rel="stylesheet" href="assets/css/nice-select.css">

  <!-- Main Style CSS -->
  <link rel="stylesheet" href="assets/css/style.css">



  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">

  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>

  <!-- carousel Style CSS -->
  <link rel="stylesheet" href="assets/css/css/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
  <link rel="stylesheet" href="assets/css/css/style.css">
</head>

<!-- Header Start -->
<div class="meeta-header-section meeta-header-2 meeta-header-3"
  style="background-image: url(/assets/images/Rectangle\ 975.png);background-repeat: no-repeat;background-size: cover;width:100%;">
  <!-- Header Middle Start -->
  <div class="header-middle header-sticky">
    <div class="container">
      <div class="header-wrap">
        <!-- Header Logo Start -->
        <div class="header-logo header-logo-3">
          <a class="logo-black" href="/"><img src="assets/images/decon-logo.svg" alt="Logo"></a>
          <a class="logo-white" href="/"><img src="assets/images/decon-logo.svg" alt="Logo"></a>
        </div>
        <!-- Header Logo End -->
        <!-- Header Navigation Start -->
        <div class="header-navigation d-none d-lg-block">
          <ul class="main-menu">
            <li class="active-menu"><a href="/">Home</a>
            </li>
            <li><a href="/event">Event</a></li>
            <li><a href="/speaker">Speakers</a> </li>


            <!--  <ul class="sub-menu">
                 <li><a href="/about">About Malabar</a></li>
                 <li><a href="/about-Mlf">About MLF</a></li>
                 <li><a href="/about-book-Plus">About Book Plus</a></li>
               </ul>
             </li> -->
            <!-- <li> <a href="../assets/pdf/mlf.pdf" target="_blank" attributes-list> Programme </a>
             </li>
            
             <li><a href="/gallery">Gallery</a></li> -->
            <li><a href="/contact">Contact Us</a></li>
          </ul>
        </div>
        <!-- Header Navigation End -->
        <!-- Header Meta Start -->
        <!-- <div class="header-meta">
           <div class="header-btn d-none d-md-block">
             <a href="/register" class="btn-2">Register</a>
           </div> -->
        <!-- Header Toggle Start -->
        <div class="header-toggle d-lg-none">
          <button data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
        <!-- Header Toggle End -->
      </div>
      <!-- Header Meta End -->
    </div>
  </div>
</div>
<!-- Header Middle End -->
</div>
<!-- Header End -->
<!-- Offcanvas Start-->
<!-- Offcanvas Start-->
<div class="bottombarContainer">
  <a href="/">
    <div class="bottomBarLink"><i class="fas fa-home"></i></div>
  </a>
  <a href="/event">
    <div class="bottomBarLink"><i class="fas fa-calendar-alt"></i></div>
  </a>
  <a href="/news" aria-current="page" class="activeContainer">
    <div class="bottomBarLink"><i class="fas fa-newspaper"></i></div>
  </a>
  <a href="/speaker">
    <div class="bottomBarLink"><i class="fas fa-microphone"></i></div>
  </a>
  <a href="/contact">
    <div class="bottomBarLink"><i class="fas fa-address-book"></i></div>
  </a>
  <a href="/register">
    <div class="bottomBarLink"><i class="fas fa-user"></i></div>
  </a>
</div>


<!-- Offcanvas End -->