<!-- ========== Start header ========== -->
<%-include("layouts/header.ejs")%>
<!-- ========== End header ========== -->
<body>
    <!-- Offcanvas End -->
    <!-- Slider Section Start  -->
    <div id="bg-color-purple">
      <div class="meeta-hero-section-3 "
        style="background-image: url('assets/images/header-svg.svg'); background-position: bottom;background-size: cover;position: relative; z-index: 3;">
      </div>
      <div class="about-sio">
        <div class="container">
          <div class="title-para">
            <h1 class="about-sio-title">About us</h1>
            <p class="about-sio-para"> Welcome to DeConquista – a journey into critical engagements with contemporary
              sociopolitical institutions, knowledge, and imaginations. Our series of academic programs delve deep into
              the impacts of colonialism, particularly in the aftermath of the Fall of Granada in 1492 and the
              'Reconquista' that heralded it, shaping the foundations of political modernity. </p> <br>
            <p class="about-sio-para"> DeConquista scrutinizes the concepts and institutions that evolved through
              various colonial transactions, challenging Eurocentric forms of knowledge, politics, socio-religious
              establishments, and racial imaginings. From the moment Vasco da Gama reached the Malabar coast in 1498 to
              the present day, our programs navigate the complexities of Eurocentric influences, seeking to reposition
              knowledge, power, and resistance.</p> <br>
            <p class="about-sio-para"> Embark on this intellectual odyssey through a four-month-long academic journey,
              comprising a series of seminars, workshops, public discussions, book talks, online conclave, and an
              academic conference. Join us in re-reading / de reading the history, reclaiming narratives, and reshaping
              contemporary discourse. DeConquista: Unraveling, Relocating, and Reimagining. </p>
          </div>
        </div>
      </div>
      <div class="about-gradient-img"></div>

      <!-- Slider Section End -->
      <!-- programs sections------ starts -->
      <div class="testimonial programe-section">
        <div class="container">
          <div class=" text-center">
            <h1 class="pb-3 about-sio-title">Programs</h1>
          </div>
          <div class="programe-texts">
            <div class="row program-title-items">
              <div class="col-12 col-sm-6 col-md-3 text-center">
                <div class="program_box no_border">
                  <h1 class="program_count">550</h1>
                  <h3>Seminar</h3>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-3 text-center ">
                <div class="program_box">
                  <h1 class="program_count">804</h1>
                  <h3>Workshops</h3>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-3 text-center ">
                <div class="program_box">
                  <h1 class="program_count">302</h1>
                  <h3>Public <br> Discussion</h3>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-3 text-center ">
                <div class="program_box">
                  <h1 class="program_count">100</h1>
                  <h3>Reading <br> Sessions</h3>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4 text-center ">
                <div class="program_box no_border">
                  <h3 class="pt-4">Academic<br> Conference</h3>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4 text-center ">
                <div class="program_box">
                  <h1 class="program_count">410</h1>
                  <h3>
                    Book Talks</h3>
                </div>

              </div>
              <div class="col-12 col-sm-6 col-md-4 text-center ">
                <div class="program_box">
                  <h3 class="pt-4">Online Academic <br> Conclaves</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- programs sections------ends-->

      <div class="container">
        <div class="work-shop-section">
          <div class="c-testimonials">
            <ul class="c-testimonials__items swiper-wrapper">
              <!-- CARD 1 -->
              <li class="c-testimonials__item c-card-testimonial swiper-slide">
                <div class="c-card-testimonial__profile">
                  <img src="/assets/images/Rectangle 986.png" alt="" class="c-card-testimonial__image">
                </div>

                <div class="c-card-testimonial__description">
                  <span class="c-card-testimonial__job">
                    One day Workshop on
                  </span>

                  <div class="c-card-testimonial__author">
                    Islam as a
                    Discursive Tradition
                  </div>

                  <div class="c-card-testimonial__excerpt">
                    Lead by T. Anees Ahamed10 September 2023, Sunday 10:00 AMVenue: Chair for Islamic Studies and
                    Research,Calicut University.
                  </div>

                  <a href="/register" class="c-card-testimonial__link " id="register_card_btn" target="_blank">
                    Register <i class="fa fa-arrow-right"></i>
                  </a>
                </div>
              </li>

              <!-- CARD 2 -->
              <li class="c-testimonials__item c-card-testimonial swiper-slide">
                <div class="c-card-testimonial__profile">
                  <img src="/assets/images/Rectangle 986.png" alt="" class="c-card-testimonial__image">
                </div>

                <div class="c-card-testimonial__description">
                  <span class="c-card-testimonial__job">
                    One day Workshop on
                  </span>

                  <div class="c-card-testimonial__author">
                    Islam as a
                    Discursive Tradition
                  </div>

                  <div class="c-card-testimonial__excerpt">
                    Lead by T. Anees Ahamed10 September 2023, Sunday 10:00 AMVenue: Chair for Islamic Studies and
                    Research,Calicut University.
                  </div>

                  <a href="/register" class="c-card-testimonial__link " id="register_card_btn" target="_blank">
                    Register <i class="fa fa-arrow-right"></i>
                  </a>
                </div>
              </li>
            </ul>

            <div class="c-testimonials__upcoming">
              <img src="/assets/images/Group 810.png" alt="">
            </div>
            <div class="c-testimonials__pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
 

<!-- ========== Start footer ========== -->
<%-include("layouts/footer.ejs")%>
<!-- ========== End footer ========== -->



</body>

</html>