<!doctype html>
<html class="no-js" lang="en">



<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Malabar Literature Festival </title>
  <meta name="robots" content="noindex, follow" />
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="assets/images/decon-logo.svg">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com/">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;400;500;600;700;800&amp;family=Open+Sans:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Archivo:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">

  <link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet" />

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>

  <!-- CSS
	============================================ -->

  <!-- Icon Font CSS -->
  <link rel="stylesheet" href="assets/css/all.min.css">
  <link rel="stylesheet" href="assets/css/flaticon.css">

  <!-- Plugins CSS -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
  <link rel="stylesheet" href="assets/css/magnific-popup.css">
  <link rel="stylesheet" href="assets/css/aos.css">
  <link rel="stylesheet" href="assets/css/nice-select.css">

  <!-- Main Style CSS -->
  <link rel="stylesheet" href="assets/css/style.css">



  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">

  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>

  <!-- carousel Style CSS -->
  <link rel="stylesheet" href="assets/css/css/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
  <link rel="stylesheet" href="assets/css/css/style.css">
</head>

<body>
  <div class="main-wrapper">

    <!-- Preloader start -->
    <div id="preloader">
      <div class="preloader">
        <span></span>
        <span></span>
      </div>
    </div>
    <!-- Preloader End -->

    <!-- Header Start -->
    <div class="meeta-header-section meeta-header-2 meeta-header-3">

      <!-- Header Middle Start -->
      <div class="header-middle header-sticky">
        <div class="container">

          <div class="header-wrap">
            <!-- Header Logo Start -->
            <div class="header-logo header-logo-3">
              <a class="logo-black" href="/"><img src="assets/images/decon-logo.svg" alt="Logo"></a>
              <a class="logo-white" href="/"><img src="assets/images/decon-logo.svg" alt="Logo"></a>
            </div>
            <!-- Header Logo End -->

            <!-- Header Navigation Start -->
            <div class="header-navigation d-none d-lg-block">
              <ul class="main-menu">
                <li class="active-menu"><a href="/">Home</a>

                </li>
                <li><a href="#">About</a>
                  <ul class="sub-menu">
                    <li><a href="/about">About Malabar</a></li>
                    <li><a href="/about-Mlf">About MLF</a></li>
                    <li><a href="/about-book-Plus">About Book Plus</a></li>
                  </ul>
                </li>
                <li>
                  <a href="../assets/pdf/mlf.pdf" target="_blank" attributes-list> Programme </a>
                </li>
                <li><a href="/speaker">Speakers</a>
                </li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>
            </div>
            <!-- Header Navigation End -->

            <!-- Header Meta Start -->
            <div class="header-meta">

              <div class="header-btn d-none d-md-block">
                <a href="/register" class="btn-2">Register</a>
              </div>

              <!-- Header Toggle Start -->
              <div class="header-toggle d-lg-none">
                <button data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample">
                  <span></span>
                  <span></span>
                  <span></span>
                </button>
              </div>
              <!-- Header Toggle End -->

            </div>
            <!-- Header Meta End -->

          </div>

        </div>
      </div>
      <!-- Header Middle End -->

    </div>
    <!-- Header End -->


    <!-- Offcanvas Start-->
    <div class="offcanvas offcanvas-start" id="offcanvasExample">

      <div class="offcanvas-header">
        <!-- Offcanvas Logo Start -->
        <div class="offcanvas-logo">
          <a href="/"><img src="assets/images/decon-logo.svg" alt=""></a>
        </div>
        <!-- Offcanvas Logo End -->
        <button type="button" class="close-btn" data-bs-dismiss="offcanvas"><i class="flaticon-close"></i></button>
      </div>

      <!-- Offcanvas Body Start -->
      <div class="offcanvas-body">
        <div class="offcanvas-menu offcanvas-menu-2">
          <ul class="main-menu">
            <li class="active-menu"><a href="/">Home</a>

            </li>
            <li><a href="#">About</a>
              <ul class="sub-menu">
                <li><a href="/about">About Malabar</a></li>
                <li><a href="/about-Mlf">About MLF</a></li>
                <li><a href="/about-book-Plus">About Book Plus</a></li>
              </ul>
            </li>
            <li><a href="/programe">Programme</a>
            </li>
            <li><a href="/speaker">Speaker</a>
            <li><a href="/gallery">Gallery</a>
            </li>
            <li><a href="/contact">Contact</a></li>
            <li>
              <a href="/register" class="mobile-register">Register</a>
            </li>
          </ul>


        </div>
      </div>
      <!-- Offcanvas Body End -->
    </div>
    <!-- Offcanvas End -->





    <!-- Slider Section Start  -->
    <div class="meeta-hero-section-3 d-flex align-items-center" style="background-image: url('assets/images/header-bg-white.svg'); position: relative; z-index: 3;">
      <div class="container">
        <div class="row align-items-center header-logo-title">
          <div class="col-lg-6">
            <!-- Countdown Start -->
            <div class="malabar-img">
              <img src="assets/images/decon-lg.svg" alt="">
            </div>
            <!-- Countdown End -->
          </div>
          <div class="col-lg-6">
            <div class="meeta-hero-content">
              <div class="malabar-title">
                <p>Navigating Muslimness
                  Relocating Knowledge,Power & Resistance</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="about-sio">
      <div class="container">
        <div class="title-para">
          <h1 class="about-sio-title">About us</h1>
          <p class="about-sio-para"> Welcome to DeConquista – a journey into critical engagements with contemporary sociopolitical institutions, knowledge, and imaginations. Our series of academic programs delve deep into the impacts of colonialism, particularly in the aftermath of the Fall of Granada in 1492 and the 'Reconquista' that heralded it, shaping the foundations of political modernity. </p> <br>
          <p class="about-sio-para"> DeConquista scrutinizes the concepts and institutions that evolved through various colonial transactions, challenging Eurocentric forms of knowledge, politics, socio-religious establishments, and racial imaginings. From the moment Vasco da Gama reached the Malabar coast in 1498 to the present day, our programs navigate the complexities of Eurocentric influences, seeking to reposition knowledge, power, and resistance.</p> <br>
          <p class="about-sio-para"> Embark on this intellectual odyssey through a four-month-long academic journey, comprising a series of seminars, workshops, public discussions, book talks, online conclave, and an academic conference. Join us in re-reading / de reading the history, reclaiming narratives, and reshaping contemporary discourse. DeConquista: Unraveling, Relocating, and Reimagining. </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Slider Section End -->
  <!-- programs sections------ starts -->
  <div class="testimonial programe-section" style="background-image:url();">
    <div class="container">
      <div class="programs-title text-center">
        <h1 class="pb-3">Programs</h1>
      </div>
      <div class="programe-texts">
        <div class="row program-title-items">


          <div class="col-12 col-sm-6 col-md-3 text-center">
            <div class="program_box no_border">
              <h1>05</h1>
              <h3>Seminar</h3>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-3 text-center ">
            <div class="program_box">
              <h1>04</h1>
              <h3>Workshops</h3>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-3 text-center ">
            <div class="program_box">
              <h1>02</h1>
              <h3>Public <br> Discussion</h3>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-3 text-center ">
            <div class="program_box">

              <h1>10</h1>
              <h3>Reading <br> Sessions</h3>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 text-center ">
            <div class="program_box no_border">
              <h3 class="pt-4">Academic<br> Conference</h3>

            </div>

          </div>
          <div class="col-12 col-sm-6 col-md-4 text-center ">
            <div class="program_box">
              <h1>10</h1>
              <h3>
                Book Talks</h3>
            </div>

          </div>
          <div class="col-12 col-sm-6 col-md-4 text-center ">
            <div class="program_box">
              <h3 class="pt-4">Online Academic <br> Conclaves</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- programs sections------ends-->

  <div class="container">
    <div class="work-shop-section">
      <div class="c-testimonials">
        <ul class="c-testimonials__items swiper-wrapper">
          <!-- CARD 1 -->
          <li class="c-testimonials__item c-card-testimonial swiper-slide">
            <div class="c-card-testimonial__profile">
              <img src="/assets/images/Rectangle 986.png" alt="" class="c-card-testimonial__image">
            </div>

            <div class="c-card-testimonial__description">
              <span class="c-card-testimonial__job">
                One day Workshop on
              </span>

              <div class="c-card-testimonial__author">
                Islam as a
                Discursive Tradition
              </div>

              <div class="c-card-testimonial__excerpt">
                Lead by T. Anees Ahamed10 September 2023, Sunday 10:00 AMVenue: Chair for Islamic Studies and Research,Calicut University.
              </div>

              <a href="/register" class="c-card-testimonial__link " id="register_card_btn" target="_blank">
                Register <i class="fa fa-arrow-right"></i>
              </a>
            </div>
          </li>

          <!-- CARD 2 -->
          <li class="c-testimonials__item c-card-testimonial swiper-slide">
            <div class="c-card-testimonial__profile">
              <img src="/assets/images/Rectangle 986.png" alt="" class="c-card-testimonial__image">
            </div>

            <div class="c-card-testimonial__description">
              <span class="c-card-testimonial__job">
                One day Workshop on
              </span>

              <div class="c-card-testimonial__author">
                Islam as a
                Discursive Tradition
              </div>

              <div class="c-card-testimonial__excerpt">
                Lead by T. Anees Ahamed10 September 2023, Sunday 10:00 AMVenue: Chair for Islamic Studies and Research,Calicut University.
              </div>

              <a href="/register" class="c-card-testimonial__link " id="register_card_btn" target="_blank">
                Register <i class="fa fa-arrow-right"></i>
              </a>
            </div>
          </li>
        </ul>

        <div class="c-testimonials__upcoming">
          <img src="/assets/images/Group 810.png" alt="">
        </div>
        <div class="c-testimonials__pagination"></div>
      </div>
    </div>
  </div>
  </div>





  <!-- Footer Start -->
  <div class="footer" style="background-image: url('assets/images/sio-footer.svg'); background-size: cover; background-position: center; overflow: hidden; position: relative;">
    <div class="container">
      <div class="footer-sections">
        <div class="footer-malabar-img">
          <img src="assets/images/decon-lg-footer.svg" alt="">

        </div>

        <div class="links">
          <div class="main-contact">
            <ul>
              <a href="/">
                <li>Home</li>
              </a>
              <div>
                <a href="/about">
                  <li>About Us</li>
                </a>
              </div>
              <div>
                <a href="/contact">
                  <li>Contact</li>
                </a>
              </div>
            </ul>
          </div>
          <div class="sections">
            <ul>
              <div>
                <a href="/Privacy">
                  <li>Privacy Policy</li>
                </a>
              </div>
              <div>
                <a href="/Refund">
                  <li>Refund Policy</li>
                </a>
              </div>
              <div>
                <a href="/Terms-Conditions">
                  <li>Terms & Conditions</li>
                </a>
              </div>


            </ul>
          </div>
        </div>
        <div class="address">
          <i class="fas fa-map-marker-alt"></i> Vidyarthi Bhavanam, <br> Uk Sankunni Rd, Kozhikode, <br> Kerala, india -
          673004 <br>
          098957 75227
        </div>
      </div>
      <hr class="footer-hr">
      <div class="last-section-footer">
        <div class="privacy">
          <p style="color: #000;">@ 2023 MLF All Right Reserved |Powered by <span style="font-weight: 700;">DataHex</span></p>
        </div>
        <div class="icons">
          <span><i class="fab fa-facebook-f"></i></span>
          <span><i class="fab fa-twitter"></i></span>
          <span><i class="fab fa-linkedin-in"></i></span>
          <span><i class="fab fa-instagram"></i></span>
        </div>
      </div>
    </div>
  </div>


  <!-- Footer End -->

  <!-- back to top start -->
  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
  <!-- back to top end -->




  <!-- JS
    ============================================ -->


  <!-- JS
  ============================================ -->

  <!-- carousel & jQuery JS -->

  <script src="assets/js/js/jquery.min.js"></script>

  <script src="assets/js/js/main.js"></script>

  <!-- Modernizer & jQuery JS -->
  <script src="assets/js/vendor/modernizr-3.11.7.min.js"></script>
  <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>

  <!-- Bootstrap JS -->
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>

  <!-- Plugins JS -->
  <script src="assets/js/swiper-bundle.min.js"></script>
  <script src="assets/js/back-to-top.js"></script>
  <script src="assets/js/jquery.magnific-popup.min.js"></script>
  <script src="assets/js/jquery.counterup.min.js"></script>
  <script src="assets/js/waypoints.min.js"></script>
  <script src="assets/js/aos.js"></script>
  <script src="assets/js/jquery.nice-select.min.js"></script>
  <!-- Main JS -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="node_modules/slick-carousel/slick/slick.min.js"></script>
  <script src="assets/js/main.js"></script>





</body>

</html>