
<!-- ========== Start header ========== -->
<%-include("layouts/header.ejs")%>
<!-- ========== End header ========== -->
<body>
    <div class="updates-section" id="bg-color-purple">
      <div class="header-programe" style="margin-top: 100px;">
        <div class="container">
          <div class="updates-title">
            <h1>updates</h1>
          </div>
          <div class="updates-menu">
            <ul>
              <li>News</li>
              <li>Archive</li>
              <li>Testimonial</li>
              <li>Gallery</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="news-details">
            <div class=" row news-details-head">
              <div class="col-12 col-xl-6 news-details-head-img">

                <img src="/assets/images/worshop.png" alt="">
              </div>
              <div class="col-12 col-xl-6 ">
                <h1>
                  sdjskjdvsnkjdn
                </h1>
                <div class="dates" style="color: #fff;">
                  <h6 style="display: inline; background-color: #E59BFF;">Latest</h6>sdvsdvsdvsdvsvd<span class="time"
                    style="display: inline; padding-left: 10px;">32
                    MINUTES AGO</span>
                </div>
                <p>
                </p>

              </div>
            </div>

              <div class="row news-details-carousel" style="display: flex; margin-top: 50px;">


                  <div class="card" style="width: 18rem;" id="bg-color-purple">
                    <img class="card-img-top"
                      src=""
                      alt="Card image cap" style="border-radius: 10px;">
                    <div class="card-body" style="color: #fff;">
                      <h5 class="card-title">
                        
                      </h5>
                      <ul style="list-style: none; padding-left: 0;">
                        <li style="display: inline;"> <span style="font-size: 20px; color: #49BDF2;">&bull;</span> 32
                          MINUTES
                          AGO
                        </li>
                      </ul>
                      <P class="card-text-para">
                        
                      </P>
                      <div>
                        <a href="/news"> <button class="readmore">Read More</button></a>
                      </div>
                    </div>
                  </div>
              </div>
        </div>
      </div>
    </div>
  </div>
<!-- ========== Start Section ========== -->
<%-include("layouts/footer.ejs")%>
<!-- ========== End Section ========== -->
</body>