<!doctype html>
<html class="no-js" lang="en">
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>De Conquista</title>
<meta name="robots" content="noindex, follow" />
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="assets/images/decon-logo.svg">

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com/">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;400;500;600;700;800&amp;family=Open+Sans:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Archivo:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">

<link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet" />

<link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>

<!-- CSS
	============================================ -->

<!-- Icon Font CSS -->
<link rel="stylesheet" href="assets/css/all.min.css">
<link rel="stylesheet" href="assets/css/flaticon.css">

<!-- Plugins CSS -->
<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
<link rel="stylesheet" href="assets/css/magnific-popup.css">
<link rel="stylesheet" href="assets/css/aos.css">
<link rel="stylesheet" href="assets/css/nice-select.css">

<!-- Main Style CSS -->
<link rel="stylesheet" href="assets/css/style.css">



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>

<!-- carousel Style CSS -->
<link rel="stylesheet" href="assets/css/css/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
<link rel="stylesheet" href="assets/css/css/style.css">
</head>

<body>
  <div class="main-wrapper">

    <!-- Preloader start -->
    <!-- <div id="preloader">
      <div class="preloader">
        <span></span>
        <span></span>
      </div>
    </div> -->
    <!-- Preloader End -->


    <!-- ========== Start header ========== -->
    <%-include('layouts/header.ejs')%>
    <!-- ========== End header ========== -->

    <div class="register-table" style="background-image: url('/assets/images/Group\ 809.png'); background-size: cover; background-position: bottom; margin-top: 60px; width: 100%;height: 100%" ;>
      <div class="container">
        <div class="delegate-table-section">
          <div class="delegate-title">
            <h1>Registration</h1>
          </div>
          <div class="register-form">
            <div class="container">

              <form action="/register" method="post" id="registerForm">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" id="name" name="name" class="form-control" aria-required="true">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="gender">Gender</label>
                      <select id="gender" name="gender" class="form-control" required>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>

                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="contact">Contact Number</label>
                      <input type="tel" id="contact" name="contact" class="form-control" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="email">Email ID</label>
                      <input type="email" id="email" name="email" class="form-control" required>
                      <p id="emailError" class="text-danger"></p>
                    </div>
                  </div>
                  <!-- <div class="col-md-6">
                    <div class="form-group">
                      <label for="password">Create Password:</label>
                      <input type="password" id="password" name="password" class="form-control" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="confirm_password">Confirm Password:</label>
                      <input type="password" id="confirm_password" name="confirm_password" class="form-control" required>
                    </div>
                  </div> -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="location">
                        District</label>
                      <input type="text" id="location" name="location" class="form-control" style="width: 100%;" placeholder="" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="professions">profession</label>
                      <select id="professions" name="profession" class="form-control scrollable-dropdown" required>
                        <option value="education">Student</option>
                        <option value="literature">Literature</option>
                        <option value="research">Research</option>
                        <option value="business">Business</option>
                        <option value="art">Art</option>
                        <option value="media">Media</option>
                        <option value="film">Film</option>
                        <option value="it">Information Technology</option>
                        <option value="healthcare">Health Care</option>
                        <option value="law">Law & Order</option>
                        <option value="music">Music</option>
                        <option value="ngo">NGO</option>
                        <option value="public-service">Public Service</option>
                        <option value="other">Other</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="day">Institute</label>
                      <input type="text" class="form-control" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="intrest">Course</label>
                      <select id="intrest" name="intrest" class="form-control scrollable-dropdown myDropDown" required>
                        <option value="Mechanical Engineering">Mechanical Engineering</option>
                        <option value="Civil Engineering">Civil Engineering</option>
                        <option value="Electrical Engineering">Electrical Engineering</option>
                        <option value="Software Engineering">Software Engineering</option>
                        <option value="B.A. (Bachelor of Arts)">B.A. (Bachelor of Arts)</option>
                        <option value="BA English">BA English</option>
                        <option value="BA Malayalam">BA Malayalam</option>
                        <option value="BA Arabic">BA Arabic</option>
                        <option value="BCA">BCA</option>
                        <option value="Bsc Computer Science">Bsc Computer Science</option>
                        <option value="B.Com. (Bachelor of Commerce)">B.Com. (Bachelor of Commerce)</option>
                        <option value="BSc Psychology with Training and Counselling">BSc Psychology with Training and Counselling</option>
                        <option value="B Com Finance">B Com Finance</option>
                        <option value="BSc Mathematics">BSc Mathematics</option>
                        <option value="Others">Others</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="day">Date of Birth</label>
                      <input type="date" id="day" name="day" class="form-control" required>
                    </div>
                  </div>
                </div>
                <div class="row" style="align-items: center; margin-top: 50px;">
                  <div class="col-12 d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary" style="border-radius: 20px;">
                      Register </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- ========== Start footer ========== -->
  <%-include("layouts/footer.ejs")%>
  <!-- ========== End footer ========== -->


  <!-- JS
  ============================================ -->

  <!-- carousel & jQuery JS -->

  <script src=" assets/js/js/jquery.min.js">
  </script>
  <script src="assets/js/js/owl.carousel.min.js"></script>
  <script src="assets/js/js/main.js"></script>

  <!-- Modernizer & jQuery JS -->
  <script src="assets/js/vendor/modernizr-3.11.7.min.js"></script>
  <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>

  <!-- Bootstrap JS -->
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>

  <!-- Plugins JS -->
  <script src="assets/js/swiper-bundle.min.js"></script>
  <script src="assets/js/back-to-top.js"></script>
  <script src="assets/js/jquery.magnific-popup.min.js"></script>
  <script src="assets/js/jquery.counterup.min.js"></script>
  <script src="assets/js/waypoints.min.js"></script>
  <script src="assets/js/aos.js"></script>
  <script src="assets/js/jquery.nice-select.min.js"></script>
  <!-- Main JS -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="node_modules/slick-carousel/slick/slick.min.js"></script>
  <script src="assets/js/main.js"></script>

</body>

</html>